/* Possibly using live server */

/* Import custom font family I am using */
@font-face {
    font-family: 'Header-Font';
    src: url('Font/Witch\ Magic.ttf') format('woff2'),
         url('Font/Witch\ Magic.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* html modifiers to set no margins throughout code (FOR TESTING) */
html {
    background-color: #0e0e0e;
    margin: -8px;
}

/* Body modifiers (FOR TESTING) */
body {
    background-color: #0e0e0e;
}



/* Modifies header div, turns it black, sets size */
div.header {
    background-color: black;
    height: 125px;
}

div.image-container {
    position: absolute;
    right: 0;
    width: 65%;
    height: 700px;
    background-image: url('Media/wallpaper.jpg');
    background-position: center -150px;
    opacity: 0.5;
}

div.text-container {
    position: absolute;
    left: 0;
    width: 35%;
    height: 700px;
}

div.text-container h1, h2 {
    font-family: "Header-Font", sans-serif;
    font-weight: 100;
    text-align: center;
    color: #e60000;
    margin: 10px;
}

div.text-container h1 {
    margin-top: 60px;
}

div.text-container h2 {
    font-size: 30px;
}

div.text-container p {
    font-size: 30px;
}


/* Modifies nav for menu-bar, turns it black, moves to right, sets up sticky scrolling */
#navbar {
    background-color: rgba(0,0,0,0.5);
    
    float: right;

    position: sticky;
    top: 15px;
    z-index: 200;
}

.background-visible {
    background-image: url('Media/border1.png');
}


/* Modifies list for menu-bar, removes bullets, adds padding */
ul.menu-bar {
    list-style: none;
    padding: 20px;
    display: flex;
}

/* Modifies list elements in menu-bar, margin for positioning */
ul.menu-bar li {
    margin-right: 20px;
    margin-left: 20px;
}

/* Modifies links in menu-bar, removes line under text, sets color/font */
ul.menu-bar a {
    text-decoration: none;
    color: #e60000;
    font-family: 'Header-Font', sans-serif;
    font-size: 18px;
}


/* Modifies witcher logo, margin for positioning, sizing logo */
#witcher-logo {
    margin-top: 25px;
    margin-left: 10px;

    /* width: 83px;
    height: 72px; */
}


/* TESTING */
h1 {
    color: white;
    font-size: 50px;
}