/* Create a sticky/fixed navbar */
#navbar {
    overflow: hidden;
    background-color: #000000;
    padding: vh vw; /* Large padding which will shrink on scroll (using JS) */
    transition: 0.4s; /* Adds a transition effect when the padding is decreased */
    position: fixed; /* Sticky/fixed navbar */
    width: 100%;
    top: 0; /* At the top */
    z-index: 99;
    text-align: right;
    float: right;
    width: fit-content;
    display: flex;

  }
  
  /* Style the navbar links */
  #navbar a {
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }
  
  /* Style the logo */
  #navbar #logo {
    font-size: 35px;
    font-weight: bold;
    transition: 0.4s;
  }
  
  /* Links on mouse-over */
  #navbar a:hover {
    background-color: #ddd;
    color: rgb(255, 255, 255);
  }
  
  /* Style the active/current link */
  #navbar a.active {
    background-color: dodgerblue;
    color: white;
  }
  
  /* Display some links to the right */
  #navbar-right {
    float: right;
  }

  /* Possibly using live server */

/* Import custom font family I am using */
@font-face {
    font-family: 'Header-Font';
    src: url('Font/Witch\ Magic.ttf') format('woff2'),
         url('Font/Witch\ Magic.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}



/* Body modifiers (FOR TESTING) */
body {
    background-color: #0e0e0e;
}



/* Modifies header div, turns it black, sets size */

div.image-container {
    position: absolute;
    right: 0;
    width: 65%;
    height: 700px;
    background-image: url('Media/wallpaper.jpg');
    background-position: center -150px;
    opacity: 0.5;
}

div.text-container {
    left: 0;
    width: 35%;
    height: 700px;
}

div.text-container h1, h2 {
    font-family: "Header-Font", sans-serif;
    font-weight: 100;
    text-align: center;
    color: #e60000;
    margin: 10px;
}

div.text-container h1 {
    margin-top: 60px;
}

div.text-container h2 {
    font-size: 30px;
}

div.text-container p {
    text-align: center;
    color: white;
}


/* Modifies list for menu-bar, removes bullets, adds padding */
ul.menu-bar {
    list-style: none;
    display: flex;
    padding: 30px;
}

/* Modifies list elements in menu-bar, margin for positioning */
ul.menu-bar li {
    margin-right: 20px;
    margin-left: 20px;
}

/* Modifies links in menu-bar, removes line under text, sets color/font */
ul.menu-bar a {
    text-decoration: none;
    color: #e60000;
    font-family: 'Header-Font', sans-serif;
    font-size: 18px;
}


/* Modifies witcher logo, margin for positioning, sizing logo */
#witcher-logo {
    margin-top: 25px;
    margin-left: 10px;
    position: absolute;

    /* width: 83px;
    height: 72px; */
}


/* TESTING */
h1 {
    color: white;
    font-size: 50px;
}
