/* Possibly using live server */

/* Import custom font family I am using */
@font-face {
    font-family: 'Header-Font';
    src: url('Font/Witch\ Magic.ttf') format('woff2'),
         url('Font/Witch\ Magic.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* html modifiers to set no margins throughout code (FOR TESTING) */
html {
    background-color: #0e0e0e;
    margin: -8px;
    ::-webkit-scrollbar {
        width: 10px
    }
    ::-webkit-scrollbar-track {
        background: #222222;
    }
    ::-webkit-scrollbar-thumb {
        background: #fd5252;
    }
}

/* Body modifiers (FOR TESTING) */
body {
    background-color: #0e0e0e;
    overflow-x: hidden;
}



/* Modifies header div, turns it black, sets size */
.header {
    height: 125px;
    position: fixed;
    transition-duration: 0.4s;
}

div.image-container-first {
    position: absolute;
    right: 0;
    width: 65%;
    height: 700px;
    background-image: url('Media/wallpaper.jpg');
    background-position: center -150px;
    opacity: 0.5;
    box-shadow: 0 0 8px 8px #0e0e0e inset;
}

.first-block {
    position: absolute;
    left: 0;
    width: 35%;
    height: 700px;
}

.first-block h1, h2 {
    font-family: "Header-Font", sans-serif;
    font-weight: 100;
    text-align: center;
    color: #fd5252;
    margin: 10px;
}

.first-block h1 {
    margin-top: 60px;
}

.first-block h2 {
    font-size: 30px;
}

.first-block p {
    text-align: center;
    color: white;
}


/* Modifies nav for menu-bar, turns it black, moves to right, sets up sticky scrolling */
.navbar {
    float: right;
    height: 125px;
    width: 80%;
    position: fixed;
    top: 0px;
}

div.navbar {
    width: 80%;
}

/* Modifies list for menu-bar, removes bullets, adds padding */
ul.menu-bar {
    list-style: none;
    display: flex;
    padding: 30px;
    margin-left: 5%;
    transition-duration: 0.4s;
}

/* Modifies list elements in menu-bar, margin for positioning */
ul.menu-bar li {
    margin-right: 20px;
    margin-left: 20px;
}

/* Modifies links in menu-bar, removes line under text, sets color/font */
ul.menu-bar a {
    text-decoration: none;
    color: #fd5252;
    font-family: 'Header-Font', sans-serif;
    font-size: 18px;
}


/* Modifies witcher logo, margin for positioning, sizing logo */
#witcher-logo {
    margin-left: 10px;
    position: fixed;
    /* width: 83px;
    height: 72px; */
}
 

/* TESTING */
h1 {
    color: white;
    font-size: 50px;
}

